<!DOCTYPE html>
<html>
  <head>
    <title>Sechenov University Bioink Database</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        База данных биочернил
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        База данных биочернил (“библиотека биочернил”) содержит основную информацию о реологических свойствах, печатуемости и способах полимеризации гидрогелей в зависимости от их состава и концентрации компонентов, а также о подходящих для параметрах 3D биопечати (давление, диаметр сопла или иглы, плотность и форма клеточного компонента, температура печати, скорость печати, наличие, длительность, используемая длина волны при фотополимеризации)
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/bioprinter.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">База данных биочернил</h2>
      <div>
        {% for bioink in bioinks %}
          {% include 'bioinkitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:sechenov@sechenov.ru?subject=Вопрос%20по%20базе%20биочернил&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Связаться с нами</a>
      </div>
    </div>
    {% include 'basictable.html' %}
    {% include 'footer.html' %}
  </body>
</html>
